.map-data-table {
  width: 100%;
  border-collapse: collapse;
}

.map-data-table th,
.map-data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.map-data-table thead {
  background-color: #f5f5f5;
}
